:root {
    /* Typography */


    /* Colors */
}

body {
    background-color: black;
    color: white;
}

.site-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-intro .logo {
    width: 50%;
    height: 50%;
}

